.calendarMain {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.02);
  background-color: #ffffff;
  border-radius: 8px;
  padding: 5px 0;
  margin-top: 40px;
  /* border: 1px solid black; */
}
.calendarDiv {
  /* border: 1px solid black; */
  /* margin-top: 30px; */
  /* padding: 5px 20px; */
}
.calendarDashboard{
  border: none !important;
  width: 100% !important;
  /* padding: 10px 15px !important; */
  background-color: white !important;
  /* color: #022658!important; */
}
.react-calendarDashboard {
  border: none !important;
  width: 100% !important;
  /* padding: 10px 15px !important; */
  background-color: #30334e !important;
  /* color: #ffffff!important; */
}
.dateDiv {
  display: flex;
  align-items: center;
  border: 1px solid #022658;
  border-radius: 8px;
  width: 25%;
  padding: 10px 10px;
  margin-left: 20px;
}
.currentDate {
  font-size: 15px;
  margin-top: 5px;
  margin-left: 5px;
}
.react-calendar__month-view__days {
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  /* color: #ffffff; */
}
.react-calendar__tile {
  border: 1px solid #e2e2e2 !important;
  padding-top: 10px !important;
  padding-left: 5px !important;
  padding-bottom: 30px !important;
  text-align: left !important;
  /* color: #ffffff; */
}
.react-calendar__tile--active {
  background-color: #222c89 !important;
}
/* .positive{
        background-color:#22894E!important;
    }
    .negative{
        background-color:#e79a0b!important;
    } */
.tileContent {
  display: flex;
  justify-content: space-between;
  align-items: end;
  /* border: 1px solid black; */
  padding: 0 1px;
  margin-bottom: -10px;
  margin-top: 10px;
}
