.calendarMain {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.02);
  background-color: #ffffff;
  border-radius: 8px;
  padding: 5px 0;
  margin-top: 40px;
  max-height: 842px;
  /* overflow: hidden; */
  overflow-y: auto;
}
.calendarDiv {
  margin-top: 30px;
  padding: 5px 20px;
}
.calendar {
  border: none !important;
  width: 100% !important;
  /* margin-top: -35px; */
}
.dateDiv {
  display: flex;
  align-items: center;
  border: 1px solid #022658;
  border-radius: 10px;
  /* width: 30%; */
  padding: 5px 10px;
  margin-left: 20px;
  max-height: 35px;
  max-width: 153px;
  /* z-index: 111px; */
}
.currentDate {
  font-size: 12px;
  margin-top: 5px;
  margin-left: 5px;
}
.react-calendar__month-view__days {
  border: 1px solid #e2e2e2;
  border-radius: 8px;
}
.react-calendar__tile {
  border: 1px solid #e2e2e2 !important;
  padding-top: 10px !important;
  padding-left: 5px !important;
  padding-bottom: 30px !important;
  text-align: left !important;
}
.react-calendar__tile--active {
  background-color: #222c89 !important;
}
/* .positive{
        background-color:#22894E!important;
    }
    .negative{
        background-color:#e79a0b!important;
    } */
.tileContent {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 0 1px;
  margin-bottom: -10px;
  margin-top: 10px;
}

.react-calendar__navigation__label {
  max-width: 100px;
}
.react-calendar__navigation {
  display: flex;
  justify-content: center;
  margin: -35px auto 20px auto;
}
