
.mainDailyTrade{
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.02);
    background-color: #FFFFFF;
    border-radius: 8px;
}
.dailyTradeDate{
    padding-top:15px;
    padding-left: 15px;
    font-size:15px;
    font-weight:500;
}
.tradeDetails{
    display: flex;
    /* justify-content: center; */
    /* border: 1px solid black; */
    padding-top:25px;   
    /* padding-inline:20px; */
    height:180px;

}
.insideTradeDetail{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid yellow; */
    padding:0 5px;

}
.noOfTrade{
    color:#636578;
    padding-top:10px;
    
}
.tradePercentage{
    color:#636578;
    padding-top:10px;

}