.EditNotesDiv{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom:10px;
    /* padding:15px 15px; */
    /* border: 1px solid black; */
}
.editNote{
    font-weight: 400;
    font-size: 15px;
    padding-right:5px;
    margin-top:5px;
}
.dividerDiv{
    padding:15px 20px;
}