.EditNotesDiv {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 10px;
}
.editNote {
  font-weight: 400;
  font-size: 13px;
  padding-right: 5px;
}
.dividerDiv {
  padding: 15px 20px;
  min-width: 759px;
}
